StrictHostKeyChecking ask
SendEnv LANG LC_*


## WUSTL servers
Host htcf.wustl.edu htcf
    HostName htcf.wustl.edu
    Port 22
    User liang-bo.wang


Host genomic.wustl.edu genomic
    Hostname genomic.wustl.edu
    User lwang


Host shell.cec.wustl.edu shell
    Hostname shell.cec.wustl.edu
    User liang-bo.wang


## Ding Lab servers
Host denali denali.wusm.wustl.edu
    Hostname 10.22.24.1
    User lwang
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_wustl_rsa
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts

Host katmai katmai.wusm.wustl.edu
    Hostname 10.22.24.2
    User lwang
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_wustl_rsa
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts

Host arches arches.wusm.wustl.edu
    Hostname 10.22.24.3
    User lwang
    IdentityFile ~/.ssh/id_wustl_rsa
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts

Host glacier glacier.wusm.wustl.edu
    Hostname 10.22.24.83
    User lwang
    IdentityFile ~/.ssh/id_wustl_rsa
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts

# The servers only available thru katmai
Host sitka kobuk kenai acadia congaree guadalupe tortugas yellowstone yosemite zion
    User lwang
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_wustl_rsa
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts

Host ptmcosmos.wustl.edu ptmcosmos
    Hostname ptmcosmos.wustl.edu
    User lbwang
    IdentityFile ~/.ssh/id_wustl_gcp_ed25519
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts


Host ptmcosmos*.liang-bo.wang
    User lbwang
    IdentityFile ~/.ssh/id_wustl_gcp_ed25519
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts


Host *.liang-bo.wang
    User lbwang
    IdentityFile ~/.ssh/id_wustl_gcp_ed25519
    UserKnownHostsFile ~/.ssh/dinglab_known_hosts


## RIS compute login nodes
Host compute1-*.ris.wustl.edu
    User liang-bo.wang
    UserKnownHostsFile ~/.ssh/ris_known_hosts
    IdentityFile ~/.ssh/id_rsa_compute


## General configuration for the MGI servers
Host virtual-workstation* vw1 vw2 vw3 vw4 vw5 blade* *.gsc.wustl.edu
    User lwang
    UserKnownHostsFile ~/.ssh/mgi_known_hosts
    IdentityFile ~/.ssh/id_wustl_rsa

