StrictHostKeyChecking ask
UseRoaming no
SendEnv LANG LC_*


## Lab servers

Host htcf.wustl.edu htcf
    HostName htcf.wustl.edu
    Port 22
    User liang-bo.wang


Host genomic.wustl.edu genomic
    Hostname genomic.wustl.edu
    User lwang


Host shell.cec.wustl.edu shell
    Hostname shell.cec.wustl.edu
    User liang-bo.wang


Host lab-cluster
    Hostname 10.22.24.1
    User lwang
    IdentityFile ~/.ssh/id_wustl_rsa


## MGI servers

Host linus300
    Hostname linus300
    User lwang

Host ssh-jump-1.gsc.wustl.edu gsc mgi
    Hostname ssh-jump-1.gsc.wustl.edu
    User lwang
